<template>
	<div onmenuitemclick={handleMenuitemClick}>
		<lightning-button title="Add crumb" variant="brand" label="Add crumb" onclick={handleAddCrumbClick}>
		</lightning-button>
		<c-menubar></c-menubar>
		<!-- To display events-->
		<div if:true={eventValue}>Event detail sent on breadcrumb click</div>
		<lightning-formatted-text value={eventValue}>
		</lightning-formatted-text>
	</div>
</template>