<template>
  <nav aria-label="Field hierarchy">
    <ol class="slds-breadcrumb slds-list_horizontal" role="menubar">
      <li if:true={isTruncated} class="slds-breadcrumb__item">
        <div class="slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open">
          <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-x-small" aria-haspopup="true" title="Show More">
                        <svg class="slds-button__icon" aria-hidden="true">
                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#threedots"></use>
                        </svg>
                        <span class="slds-assistive-text">Show More</span>
                    </button>
          <div class="slds-dropdown slds-dropdown_left slds-dropdown_actions">
            <ul class="slds-dropdown__list" role="menu">
              <template for:each={truncatedBreadcrumbs} for:item="truncatedCrumb">
                <li key={truncatedCrumb.id} class="slds-dropdown__item" role="none">
                  <a href="#" role="menuitem" tabindex="0">
                    <span class=" slds-truncate" title={truncatedCrumb.label}>{truncatedCrumb.label}</span>
                  </a>
                </li>
              </template>
            </ul>
          </div>
        </div>
      </li>
      <template iterator:it={breadcrumbsComputed}>
        <li key={it.value.id} class="slds-breadcrumb__item" role="none">
          <a if:false={it.last} onclick={handleBreadcrumbClick} href='#' name={it.value.name} class='breadcrumb'
            role="menuitem">{it.value.textDisplay}</a>
          <a if:true={it.last} onclick={handleBreadcrumbClick} href='#' aria-selected="true" name={it.value.name}
            role="menuitem" class='breadcrumb'>{it.value.textDisplay}</a>
        </li>
      </template>
    </ol>
  </nav>
</template>